@model YnabStarterKit.Models.YnabBudgetData

@foreach (YnabStarterKit.Models.YnabBudget budget in Model.Data.Budgets)
{
    <a asp-action="categories" asp-route-budgetId="@budget.Id">@budget.Name</a>
}

